$headerHeight: 54px;
$bodyHeight: calc(100vh - 54px);
$bgcolor: #282923;

.MainWrap {
  min-height: 100vh;
	min-width: 100vw;
	outline: none;
}

.MainHeader {
	height: $headerHeight;
	width: 100vw;
	background-color: darkslategrey; // #30404d; firebrick darkslateblue
	color: white;
	display: flex;
	flex-direction: row;
	padding: 0 10px;
}

.MainTitle {
	margin: 0 4px;
	display: flex;
	align-items: center;
	font-weight: bolder;
	font-size: 1.2rem;	
	flex: 1;
}

.MainMenuButton {
	display: flex;
	align-items: center;
	padding: 0 8px;
	cursor: pointer;
}

.MainMenuButton:hover {
	background-color: #20303d;
}

.MainScrollLocked {
	height: $bodyHeight;
	overflow-x: hidden;
}

.MainBody {
	min-height: $bodyHeight;
	background-color: $bgcolor;
}

.BlockedLayer {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.5);
}

.SpinnerBox {
	position: absolute;
	left: calc(50% - 14px);
	top: calc(50% - 14px);
}

.ToastBox {
	min-width: 300px;
	position: absolute;
  top: 0;
  right: 0;
}



.MovieSelectBox {
	//
}

.MovieOptionBox {
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	min-width: 380px;
	max-width: 760px;
}

.FileBoxStyle {
	padding: 5px;
	color: white;
}

.FormTitle {
	font-weight: boler;
}

.GoButtonBox {
	padding-top: 20px;
	width: 100%;
	text-align: center;
}

.GoButton {
	min-width: 150px;
}




// -----------------------------------------------------------------------------

.MovieViewBox {
	width: 100%;
	height: $bodyHeight;
	display: flex;
	flex-flow: column nowrap;
}

.MovieAreaVertical {
	text-align: center;
	flex-basis: 60vh;
}

.MovieAreaHorizontal {
	text-align: center;
	flex-basis: 40vh;
}


.MovieDiv {
	padding: 10px;
  max-width: 90vw;
	max-height: 70vh;
	outline: none;
}

.ControlArea {
	flex-basis: 56px;
	background-color: blue;
}

.ScriptArea {
	color: white;
	background-color: red;
	flex: 1 1;
	overflow: hidden;
}

.MovieOverlay {
	color: red;
	position: relative;
	left: 0px;
	top: -220px;
}


.ScriptItem {
	height: 1.2rem;
	color: white;
	cursor: pointer;
	background-color: #282923;
}

.ScriptItem:hover {
	background-color: #20303d;
}