$headerHeight: 54px;
$bodyHeight: calc(100vh - 54px);
$bgcolor: #282923;
$controlButtonSize: 36px;


.MainWrap {
  min-height: 100vh;
	min-width: 100vw;
	outline: none;
}

.MainHeader {
	height: $headerHeight;
	width: 100vw;
	background-color: rgb(30, 31, 28); // #30404d; darkslategrey firebrick darkslateblue
	color: white;
	display: flex;
	flex-direction: row;
	padding: 0 10px;
}

.MainTitle {
	margin: 0 4px;
	display: flex;
	align-items: center;
	font-weight: bolder;
	font-size: 1.2rem;	
	flex: 1;
}

.MainMenuButton {
	display: flex;
	align-items: center;
	padding: 0 8px;
	cursor: pointer;
}

.MainMenuButton:hover {
	background-color: #20303d;
}

.MainScrollLocked {
	height: $bodyHeight;
	overflow-x: hidden;
}

.MainBody {
	min-height: $bodyHeight;
	background-color: $bgcolor;
}

.BlockedLayer {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.5);
}

.SpinnerBox {
	position: absolute;
	left: calc(50% - 14px);
	top: calc(50% - 14px);
}

.ToastBox {
	min-width: 300px;
	position: absolute;
  top: 0;
  right: 0;
}



.MovieSelectBox {
	//
}

.MovieOptionBox {
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	min-width: 50vw;
	max-width: 70vw;
}

.FileBoxStyle {
	padding: 5px;
	color: white;
}

.FormTitle {
	margin-top: 7px;
}

.CheckLast{
	margin-top: 10px;
}

.GoButtonBox {
	padding-top: 20px;
	width: 100%;
	text-align: center;
}

.GoButton {
	min-width: 150px;
}




// -----------------------------------------------------------------------------

.MovieViewBox {
	width: 100%;
	height: $bodyHeight;
	display: flex;
	flex-flow: column nowrap;
}

.MovieAreaVertical {
	text-align: center;
	// flex-basis: 60vh;
	flex: 1 1 0;
}

.MovieAreaHorizontal {
	text-align: center;
	flex: 1 1 0;
}

.MovieDiv {
	padding: 5px 5px 0 5px;
  max-width: 90vw;
	max-height: 40vh;
	outline: none;
}

.MovieOverlay {
	position: relative;
	left: 0px;
	top: -25%;
	bottom: 0px;
	height: 25%;
	background-color: rgba(0, 0, 0, 0.975);
}

.ControlArea {
	flex-basis: 59px;
	background-color: #42433e;
	padding: 9px 7px;
}

.ControlSeparator {
	display: inline-block;
	position: relative;
	top: -3px;
	margin: 0 7px;
	background-color: #b0b1ab;
	width: 1px;
	height: 36px;
}

.RepeatInfo {
	display: inline-block;
	position: relative;
	top: 3px;
	margin: 0 5px;
	color: #b0b1ab;
	text-align: center;
	width: 70px;
}

.PlayingTime {
	display: inline-block;
	position: relative;
	top: 3px;
	margin: 0 5px;
	color: #b0b1ab;
	text-align: center;
	width: 225px;
}

.ControlButton {
	display: inline-block;
	margin: 2px;
	text-align: center;
	line-height: 28px;
	width: $controlButtonSize;
	height: $controlButtonSize;
	color: #b0b1ab;
	border: 1px solid #b0b1ab;
	border-radius: 5px;
}

.ControlButton:hover {
	color: #f8f8f2;
	border-color: #f8f8f2;
}

.ControlItem {
	display: inline-block;
	margin: 2px;
}

.ButtonAdjust {
	position: relative;
	top: 1px;
}

.RepeatIcon {
	display: inline-block;
	margin: 2px 0 2px 2px;
	text-align: center;
	line-height: 28px;
	width: $controlButtonSize;
	height: $controlButtonSize;
	border: 1px solid #b0b1ab;
	border-radius: 5px;
	background-color: #b0b1ab;
	color: #42433e;
}

.RepeatBox {
	display: inline-block;
	margin: 2px 2px 2px 0;
	text-align: center;
	width: 65px;
	height: $controlButtonSize;
	color: #b0b1ab;
	background-color: #42433e;
	border: 1px solid #b0b1ab;
	border-radius: 5px;
	position: relative;
	top: 1px;
	outline: none;
}

.ScriptArea {
	color: #b0b1ab;
	// flex-basis: 60vh;
	flex: 1 1 0;
	overflow: hidden;
	padding: 5px;
}

.ScriptScroll {
	height: 100%;
	overflow-y: auto;
}

.ScriptItem {
	height: 32px; // MovieLooper.js에서 scrollTop 조절하는 부분과 값이 같아야 함.
	line-height: 32px;
	color: #b0b1ab;
	cursor: pointer;
	background-color: #282923;
	padding: 0 5px;
	overflow: hidden;
	display: flex;
	flex-flow: row nowrap;
	border-left: 2px solid #282923;
}

.ScriptItem:hover {
	// background-color: #30505d;
	// border-bottom: 1px solid #30505d;
	color: white;
}

.ScriptSelected {
	background-color: #30505d; // #0e889f;
	border-left: 2px solid #0e889f;
}

.ScriptChained {
	border-left: 2px solid #30505d;
}

.ScriptText {
	flex: 1 1 0;
	height: 32px;
	line-height: 30px;
	overflow: hidden;
}

.ScriptButton {
	flex-basis: 32px;
	padding: 2px 0;
	text-align: center;
	line-height: 24px;
	color: #b0b1ab;
}

.ScriptButton:hover {
	color: #f8f8f2;
	border-color: #f8f8f2;
}

.ScriptButtonSelected {
	color: #ffffff;
}

.ScriptTime {
	flex-basis: 115px;
	height: 32px;
	line-height: 30px;
	overflow: hidden;
	text-align: right;
}

.ScriptLength {
	flex-basis: 60px;
	height: 32px;
	line-height: 30px;
	overflow: hidden;
	text-align: right;
}

.VolumeAdjust {
	display: flex;
	flex-direction: row nowrap;
}

.VolumelButton {
	flex-basis: $controlButtonSize;
	margin: 2px;
	text-align: center;
	line-height: 28px;
	width: $controlButtonSize;
	height: $controlButtonSize;
	color: #b0b1ab;
	border: 1px solid #b0b1ab;
	border-radius: 5px;
}

.VolumelButton:hover {
	color: #f8f8f2;
	border-color: #f8f8f2;
}

.VolumeBar {
	position: relative;
	top: 7px;
	left: 3px;
	flex-basis: 100px;
}
